{% extends 'base.html.twig' %}

{% block body %}
	<article>
		<h2>{{ article.title }}</h2>
		<div class="metadata">
			<span>Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }}dans la catégorie {{ article.category.title }}</span>
			<div class="content"><img src="{{ article.image }}" alt="">
				{{ article.content | raw }}
				<hr>
			</div>
		</div>
	</article>
	<section id="commentaires">
		<h1> {{ article.comments | length }} Commentaires</h1>
		{% for comment in article.comments%}
		<div class="comments">
			<div class="col-3">
				{{ comment.author }} (<small>{{ comment.createdAt|date('d/m/Y à H:i') }}</small>)
			</div>
			<div class="col">
				{{ comment.content|raw }}
			</div>
		</div>
		{% endfor %}
		{% if app.user %}
			{{ form_start(commentForm) }}
			{{ form_row(commentForm.author, {'attr': {'placeholder': "Votre nom"}}) }}
			{{ form_row(commentForm.content, {'attr': {'placeholder': "Votre commentaire"}}) }}
			<button type="submit" class="btn btn-success">Commentez</button>
			{{ form_end(commentForm) }}
		{% else %}
			<h2>Connectez-vous pour commenter</h2>
			<a href="{{ path('security_login') }}" class="btn btn-primary">Connexion</a>
			<div></div>
		{% endif %}
	</section>
{% endblock %}
